h1
{
    text-align: center;
    line-height: 150px;
}

p
{
    line-height: 1.5em;
}

.body
{
    margin: 0 auto;
}

.console
{
    border-radius: 5px;
    border: 1px solid #e5e5e5;
    background-color: #f8f8f8;
    line-height: 2em;
    padding: 1em 2em;
}

.message
{
    margin-bottom: 2em;
}

.key
{
    display: inline-block;
    width: 10em;
    font-weight: bold;
}

.value
{
}

@media screen and (min-width: 0px) and (max-device-width: 320px) {
}
@media screen and (min-width: 321px) and (max-device-width: 920px) {
    .body
    {
        min-width: 320px;
    }
}
@media screen and (min-width: 921px) {
    .body
    {
        width: 720px;
    }
}

